<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>???</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body class="" style="font-size: 15px; line-height: 18px;">
    <div class="container" style="margin-top: 50px">
        <div class="card border-danger mb-3">
            <div class="card-header text-white bg-head mb-3 margin0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample0" aria-expanded="false" aria-controls="collapseExample">
                Identify </div>
            <div class="collapse show" id="collapseExample0">
                <div class="card-body">
                    <div id="main_section" style="line-height: 30px;"></div>
                </div>
            </div>
        </div>

        <div class="card border-danger mb-3">
            <div class="card-header text-white bg-head mb-3 margin0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                UserAgent section </div>
            <div class="collapse show" id="collapseExample1">
                <div class="card-body">
                    <h6>Device Info:&nbsp;</h6> <span style="margin-right: 200px;"> {{ user_agent_info.device_info }} </span>
                    <h6>sum:&nbsp;</h6> <span style="margin-right: 200px;"> {{ user_agent_info.os_check }} </span>
                    <div>TOR:&nbsp; <span id='tor'>NO</span></div>
                    <div>Proxy:&nbsp; <span id='proxy'>NO</span></div>
                </div>
            </div>
        </div>

        <div class="card border-danger mb-3">
            <div class="card-header text-white bg-head mb-3 margin0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                Fingerprint section </div>
            <div class="collapse show" id="collapseExample2">
                <div class="card-body">
                    <b>Canvas test Hash:&nbsp;</b> <span id='canvas-hash-test' style="margin-right: 200px;"></span>
                    <canvas id='myCanvas' width='200' height='40' style='border:1px solid #000000;'></canvas><br>
                    <b>Canvas Fingerprint:&nbsp;</b> <span id='canvas-hash' style="margin-right: 100px;"></span>
                </div>
            </div>
        </div>

        <div class="card border-danger mb-3">
            <div class="card-header text-white bg-head mb-3 margin0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                Timezone section </div>
            <div class="collapse show" id="collapseExample3">
                <div class="card-body">
                    <b>Server Timezone:&nbsp;</b> <span style="margin-right: 100px;"> {{ location_data.timezone }}: {{ location_data.utc_offset }} </span>
                    
                    <b>System Timezone:&nbsp;</b> <span id='system-time' style="margin-right: 100px;"></span>
                    <b>Value:&nbsp;</b> <span id='timezone-value'></span>
                </div>
            </div>
        </div>
        <div class="card border-danger mb-3">
            <div class="card-header text-white bg-head mb-3 margin0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                Proxy section </div>
            <div class="collapse show" id="collapseExample4">
                <div class="card-body">
                    {% for key, value in proxy_info.all_ips.items %}
                        <p><strong>{{ key }}:</strong> &nbsp; {{ value }}</p>
                    {% endfor %}
                    <b>Сonclusion:&nbsp;</b> <span style="margin-right: 100px;"> {{ proxy_info.proxy_value }} </span>
                </div>
            </div>
        </div>

        <div class="card border-danger mb-3">
            <div class="card-header text-white bg-head mb-3 margin0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                Locate section </div>
            <div class="collapse show" id="collapseExample5">
                <div class="card-body">
                    {% for key, value in location_data.items %}
                        <p><strong>{{ key }}:</strong> &nbsp; {{ value }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="card border-danger mb-3">
            <div class="card-header text-white bg-head mb-3 margin0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                Screen Size </div>
            <div class="collapse show" id="collapseExample6">
                <div class="card-body">
                    <div><h6 style="display: inline">screenWidth:&nbsp;</h6> <span id='screenWidth' style="margin-right: 100px;"></span></div>
                    <div><h6 style="display: inline">screenHeight:&nbsp;</h6> <span id='screenHeight'></span></div>
                    <div><h6 style="display: inline">availableScreenWidth:&nbsp;</h6> <span id='availableScreenWidth' style="margin-right: 100px;"></span> </div>
                    <div><h6 style="display: inline">availableScreenHeight:&nbsp;</h6> <span id='availableScreenHeight'></span></div>
                    <div><h6 style="display: inline">windowOuterWidth:&nbsp;</h6> <span id='windowOuterWidth' style="margin-right: 100px;"></span></div>
                    <div><h6 style="display: inline">windowOuterHeight:&nbsp;</h6> <span id='windowOuterHeight'></span></div>
                    <div><h6 style="display: inline">windowInnerWidthWithScroll:&nbsp;</h6> <span id='windowInnerWidthWithScroll' style="margin-right: 100px;"></span></div>
                    <div><h6 style="display: inline">windowInnerHeightWithScroll:&nbsp;</h6> <span id='windowInnerHeightWithScroll'></span></div>
                    <div><h6 style="display: inline">windowInnerWidth:&nbsp;</h6> <span id='windowInnerWidth' style="margin-right: 100px;"></span></div>
                    <div><h6 style="display: inline">windowInnerHeight:&nbsp;</h6> <span id='windowInnerHeight'></span></div>
                    <div><h6 style="display: inline">pageWidth:&nbsp;</h6> <span id='pageWidth' style="margin-right: 100px;"></span></div>
                    <div><h6 style="display: inline">pageHeight:&nbsp;</h6> <span id='pageHeight'></span></div>
                </div>
            </div>
        </div>

        <div class="card border-danger mb-3">
            <div class="card-header text-white bg-head mb-3 margin0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
                All Headers </div>
            <div class="collapse show" id="collapseExample7">
                <div class="card-body">
                    {% for key, value in params.items %}
                        <p><strong>{{ key }}:</strong> &nbsp; {{ value }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Canvas test-->
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
  
        ctx.fillStyle = "rgb(255,0,255)";
        ctx.beginPath();
        ctx.rect(20, 20, 150, 100);
        ctx.fill();
        ctx.stroke();
        ctx.closePath();
        ctx.beginPath();
        ctx.fillStyle = "rgb(0,255,255)";
        ctx.arc(50, 50, 50, 0, Math.PI * 2, true);
        ctx.fill();
        ctx.stroke();
        ctx.closePath();
  
        txt = 'abz190#$%^@£éú';
        ctx.textBaseline = "top";
        ctx.font = '17px "Arial 17"';
        ctx.textBaseline = "alphabetic";
        ctx.fillStyle = "rgb(255,5,5)";
        ctx.rotate(.03);
        ctx.fillText(txt, 4, 17);
        ctx.fillStyle = "rgb(155,255,5)";
        ctx.shadowBlur=8;
        ctx.shadowColor="red";
        ctx.fillRect(20,12,100,5);
  
        src = canvas.toDataURL();
        hash = 0;
  
        for (i = 0; i < src.length; i++) {
            char = src.charCodeAt(i);
            hash = ((hash<<5)-hash)+char;
            hash = hash & hash;
        }

        document.getElementById('canvas-hash-test').textContent = hash;
    </script>

    <!-- canvas fingerprint-->
    <script>
        const fpPromise = import('https://openfpcdn.io/fingerprintjs/v3').then(FingerprintJS => FingerprintJS.load())
        fpPromise.then(fp => fp.get()).then(result => { 
            document.getElementById('canvas-hash').textContent = result.visitorId;
        })
    </script>

    <!-- system time -->
    <script>
        var d = new Date();
        var tz = d.toString().split("GMT")[1].split(" (")[0];
        document.getElementById('system-time').textContent = tz;
        if (!{{local}} && tz == "{{ location_data.utc_offset }}") document.getElementById('timezone-value').textContent = 'Timezone check correct';
        else document.getElementById('timezone-value').textContent = 'Timezone check failed!';
    </script>

    <!-- Screen Size -->
    <script>
        const screenWidth = window.screen.width
        const screenHeight = window.screen.height;
        const availableScreenWidth = window.screen.availWidth;
        const availableScreenHeight = window.screen.availHeight;
        const windowOuterWidth = window.outerWidth;
        const windowOuterHeight = window.outerHeight;
        const windowInnerWidthWithScroll = window.innerWidth;
        const windowInnerHeightWithScroll = window.innerHeight;
        const windowInnerWidth = document.documentElement.clientWidth;
        const windowInnerHeight = document.documentElement.clientHeight;
        const pageWidth = document.documentElement.scrollWidth;
        const pageHeight = document.documentElement.scrollHeight;
  
        document.getElementById('screenWidth').textContent = screenWidth;
        document.getElementById('screenHeight').textContent = screenHeight;
        document.getElementById('availableScreenWidth').textContent = availableScreenWidth;
        document.getElementById('availableScreenHeight').textContent = availableScreenHeight;
        document.getElementById('windowOuterWidth').textContent = windowOuterWidth;
        document.getElementById('windowOuterHeight').textContent = windowOuterHeight;
        document.getElementById('windowInnerWidthWithScroll').textContent = windowInnerWidthWithScroll;
        document.getElementById('windowInnerHeightWithScroll').textContent = windowInnerHeightWithScroll;
        document.getElementById('windowInnerWidth').textContent = windowInnerWidth;
        document.getElementById('windowInnerHeight').textContent = windowInnerHeight;
        document.getElementById('pageWidth').textContent = pageWidth;
        document.getElementById('pageHeight').textContent = pageHeight;
  
        if (screenWidth == availableScreenWidth && screenHeight == availableScreenHeight) document.getElementById('tor').textContent = "YES";
        if ( !{{local}} ) document.getElementById('proxy').textContent = "{{ proxy_info.proxy_value }}";

    </script>

    <script>
    let csrftoken = getCookie('csrftoken');

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function get_special_values()
    {
        let used_keys = []
        const slovar = new Object();

        function get_iter_objects(old_key, obj)
        {
            if (typeof(obj) == "object")
            {
                for(var key in obj) {
                    if (used_keys.indexOf(key) == -1)
                    {
                        used_keys.push(key)
                        console.log(key)
                        try {
                            get_iter_objects(key, obj[key])
                        }
                        catch {

                        }
                    }
                }
            }
            else if (typeof(obj) != "function" && obj != "" && 
                     old_key != 'innerHTML' && old_key != 'outerHTML' &&
                     old_key != 'innerText' && old_key != 'outerText') slovar[old_key] = obj
        }

        get_iter_objects("-1", window)
        return slovar
    }

    fpPromise.then(fp => fp.get()).then(result => {
        send_data(result.visitorId); 
    })
    
    function send_data(fingerprint)
    {
        let data = {
            special_values: get_special_values(),
            test_hash: hash,
            fingerprint_js: fingerprint,
            system_timezone: tz,
            screenWidth2: screenWidth,
            screenHeight2: screenHeight,
        }

        let config = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8',
                "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify(data),
        }
                
        fetch('/set_secret_data', config).then(response => { return response.text().then(function(text) {
                document.getElementById('main_section').innerHTML = text; 
            })
        })
    }
    
    </script>


    <style>
        .separate-line {
            margin: 20px 0;
            border-bottom: 2px solid red;
        }
        .card {
            margin-bottom: 50px;
        }

        .bg-head {
            background-color: rgb(253, 63, 73);
        }
        .padding0 {
            padding: 0;
        }
        .margin0 {
            margin: 0;
        }

    </style>
</body>
</html>